html, body {height: 100%;}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
.clearfix {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

$base-url: "/assets/";

$base-width: 1000px;
$fullwidth: 100%;

$break-small: 320px;
$break-large: 1200px;

$phone: "only screen and (max-width : 600px)";
$tablet: "only screen and (min-width:600px) and (max-width:1000px)";
$desktop: "only screen and (min-width:1000px)";

$onecol: 15%;
$twocol: 32%;
$twocolend: ($twocol + 2);
$threecol: 49%;
$fourcol: ($twocol + $twocol);
$fivecol: ($twocol + $threecol);

$headingcolour: #fff;
$headingsize: 35px;

$fontsize: 20px;
$fontfamily: 'Lato', sans-serif;
$fontcolour: #d1a646;

$darkgreen: #a39d51;
$lightgreen: #d1a646;

body {margin: 0; font-size: $fontsize; font-family: $fontfamily; color: $fontcolour;}
p {margin-top: 0; padding-top: 0;}
a:link {
    color: #6b6823;
}
a:visited {
    color: #618446;
}
a:hover, a:active {
    color: #bb3e00;
}

#container {margin: 0 auto; width: $fullwidth; overflow: hidden;}


header {margin: 0 0 40px; float: left;clear: both; background: #fff3d8; width: 100%; padding: 0 0 30px 0;}

header .menu {float:right; padding: 80px 0 50px 0; display: block;}
header .menu ul {list-style-type: none; margin: 0; padding: 0;}
header .menu ul li {display: inline;}
header .menu ul li a { color: #6b6823; text-decoration: none; margin: 0 0 0 30px}
header .menu ul li a:hover,header .menu ul li a.active { color: #bb3e00;}

.fullwidth {width: $fullwidth; clear: both; display: block; float: left;}
.fixedwidth {width: 1000px; margin: 0 auto;}

.column {margin: 0 10px; float: left;}
.one { width: $onecol;}
.two {
	@media #{$phone} {
		width: 320px!important;
		max-width: 320px!important;
	}

	@media #{$tablet} {
		width: 100%!important;
		clear: both;
	}

	@media #{$desktop} {
		width: $twocol;
	}

}
.twoend {
	@media #{$phone} {
		width: 320px!important;
		max-width: 320px!important;
	}

	@media #{$tablet} {
		width: 100%!important;
		margin: 0!important;
		clear: both;
	}

	@media #{$desktop} {
		width: $twocolend;
	}

}
.three {width: $threecol;}
.four {
	@media #{$phone} {
		width: 320px!important;
		max-width: 320px!important;
	}

	@media #{$tablet} {
		width: 100%!important;
		clear: both;
	}

	@media #{$desktop} {
		width: $fourcol;
	}

}
.five {width: $fivecol;}
.six {width: $fullwidth; margin: 0;}

.start {margin-left: 0;}
.end {margin-right: 0;}

.left {float: left; margin-left: 0;}
.right {float: right; margin-right: 0;}
.center {margin: 0 auto; text-align: center}

.textDarkGreen {color: $darkgreen;}
.textLightGreen {color: $lightgreen;}
h1.textLightGreen {color: #618446;}
.darkGreen {background: $darkgreen; color: #fff!important;}
.lightGreen {background: $lightgreen;color: #fff;}
.textLightGreen a {color: inherit;}
.textDarkGreen a {color: inherit;}

.clear { clear: both;}

h2 {
    color: $headingcolour;
    font-size: $headingsize;
}
#about section {line-height: 1.5em; font-size: 1.2em;}
#about a {font-size: 0.7em;}
sup {font-size: 0.4em;}
#aboutContent {}

#nextmeetup {text-align: center; color: #fff; text-transform: uppercase;
	@media #{$phone} {
		margin: 0;
	}
}
#nextmeetup p {font-size: 1.3em; margin: 10px 0; padding: 0 10px;}
#nextmeetup h1 {font-size: 2em; margin: 0 0 10px 0; padding: 0; clear: both; float: left; text-align: center; width: 100%;}
#nextmeetup a {background: #e7332f; border: 3px solid #fff; border-radius: 5px; color: #fff; text-decoration: none; width: 200px; padding: 10px 30px; display: block; margin: 0 auto 10px;}
#speakers {margin: 20px 0 0 0;
	@media #{$phone} {
		padding: 0 0 20px 0;
	}
	@media #{$tablet} {

	}
	@media #{$desktop} {

	}
}
#speakers img {float: left; margin-right: 10px;
	@media #{$phone} {
		width: 320px;
	}
	@media #{$tablet} {

	}
	@media #{$desktop} {

	}
}
#speakers p {
    margin: 20px 0 0 0;
    line-height: 1.5em;
    padding: 0 67px 14px 14px;

	@media #{$phone} {
		padding: 0 20px;
	}
	@media #{$tablet} {

	}
	@media #{$desktop} {

	}
}
#speakers h2 {margin: 10px 0 0; padding: 0;
	@media #{$phone} {
		padding: 0 0 0 20px;
	}
}
#speakers section {margin: 0 0 20px 0; float: left;}
#where a {font-size: 0.6em; color: #bb3e00; text-decoration: none;}

.facebook {height: 85px; float: left;width: 45%;display: block; text-align: right; padding: 20px 5% 0 0;}
.twitter {height: 85px; float: left; width: 45%;display: block; text-align: left; padding:20px 0 0 5%;}
#connect a {color: #fff; text-transform: none;}
#map-canvas {width: 100%; height: 510px; clear: both;}

footer {clear: both; background: #f9f9f9; margin: -80px 0 0; color: #614b1b;
	@media #{$phone} {
		margin: -100px 0 0!important;
	}
}
.nomap {clear: both; background: #f9f9f9; margin: 20px 0 !important; color: #614b1b;}
footer span {padding: 38px 20px 20px;
	@media #{$phone} {
		text-align: center;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
}
footer ul {list-style-type: none;
	@media #{$phone} {
		width: 100%!important;;
		clear: both!important;
		float: none!important;
		margin: 0 auto!important;
		text-align: center;
	}
	@media #{$tablet} {
		clear: both!important;
		float: none!important;
		margin: 0 auto!important;
	}
}
footer ul li {float: left; margin: 5px 10px 0;
	@media #{$phone} {
		clear: both;
		text-align: center;
		margin: 0 auto 0!important;
		width: 75%!important;

	}
}

footer .bookingcom {
	margin-top: 24px;
}

#strap {font-size: 0.8em; float: right; clear: both; height: 50px; margin: 0 0 50px 0;
	@media #{$phone} {
		height: auto;
		margin: 20px 0 50px 0;
	}
}
#strap a {color: #fff!important; text-decoration: none; font-style: italic}
#strap p {margin: 0; padding: 15px 0 0 10px; color: #eae1ce;
	@media #{$phone} {
		float: none!important;
		margin: 0 auto!important;
		width: auto!important;
		padding: 20px!important;
		text-align: center;
	}
}
#strap span {color: #cfa647;}
#strap .right { padding: 15px 15px 0 0;}

#directions {position: relative;right: -817px;top: -500px;}


.break {
	@media #{$phone} {
		width: 320px!important;
		max-width: 320px!important;
	}
	@media #{$tablet} {
		width: 600px!important;
		max-width: 600px!important;
	}
	@media #{$desktop} {
		width: $base-width!important;
		max-width: $base-width!important;
	}

	margin: 0 auto;
	overflow: hidden;
}


#where {margin: 20px 0 20px 0; font-size: 1.3em; padding: 5px 0;

@media #{$phone} {
		width: 320px!important;
		max-width: 320px!important;
	}

	@media #{$tablet} {
		width: 50%!important;

	}

	@media #{$desktop} {

	}
}

#connect {text-align: center; padding: 20px 0; text-transform: uppercase;
@media #{$phone} {
		width: 320px!important;
		max-width: 320px!important;
		margin: 0 0 20px;
	}

	@media #{$tablet} {
		width: 50%!important;
		height: 260px;
		margin: 20px 0 0 0;
	}

	@media #{$desktop} {

	}
}

#pastEvents .title {
  margin-top: 40px;
}

#pastEvents .title span {
  font-size: 85%;
}

#pastEvents h2 {
  margin-top: 4px;
  color: #618446;
}

#pastEvents:last-child {margin-bottom: 20px;}



.event {background: #f4f3eb;}
.eventTitle {background: #a39d51; padding: 30px; margin: 30px 0 0 0;}
.eventTitle span { font-size: 0.6em;color: #fff969}
.eventTitle h2 { font-size: 1.1em; margin: 0;}
.eventContent {padding: 20px 30px 30px; color: #90773f; font-size: 0.8em; line-height: 1.6em;}
.eventContent a {color: #bb3e00; text-decoration: none;}


.aboutrefresh {}
.aboutrefresh a {color: #bb3e00; text-decoration: none; font-size: 16px!important;}
.aboutrefresh p {color: #90773f; line-height: 24px; font-size: 16px;}

.aboutImg img {width: 100%;}

.location { margin: 1em 0; }
